{% extends 'admin/index.html.twig' %}

{% block title %}Edit Hospital{% endblock %}
{% block h1 %}<h1>Edit Hospital</h1>{% endblock %}
{% block right %}

    {{ include('admin/hospital/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('hospital_index') }}">back to list</a>

    {{ include('admin/hospital/_delete_form.html.twig') }}
{% endblock %}
