{% extends 'admin/index.html.twig' %}

{% block title %}New Polimorphism{% endblock %}
{% block h1 %}<h1>Create new Polimorphism</h1>{% endblock %}
{% block right %}

    {{ include('admin/polimorphism/_form.html.twig') }}

    <a href="{{ path('polimorphism_index') }}">back to list</a>
{% endblock %}
