{% extends 'base.html.twig' %}

{% block title %}New PatientTestingResult{% endblock %}

{% block body %}
    <h1>Create new PatientTestingResult</h1>

    {{ include('patient_testing_result/_form.html.twig') }}

    <a href="{{ path('patient_testing_result_index') }}">back to list</a>
{% endblock %}
