{% extends 'admin/index.html.twig' %}

{% block title %}New Measure{% endblock %}
{% block h1 %}<h1>Create new Measure</h1>{% endblock %}
{% block right %}

    {{ include(template_path~'_form.html.twig') }}

    <a href="{{ path('measure_index') }}">back to list</a>
{% endblock %}
