{% extends 'admin/index.html.twig' %}

{% block title %}Edit Diagnosis{% endblock %}
{% block h1 %}<h1>Edit Diagnosis</h1>{% endblock %}
{% block right %}

    {{ include('admin/diagnosis/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('diagnosis_index') }}">back to list</a>

    {{ include('admin/diagnosis/_delete_form.html.twig') }}
{% endblock %}
