{% extends 'admin/index.html.twig' %}

{% block title %}New Diagnosis{% endblock %}
{% block h1 %}<h1>Create new Diagnosis</h1>{% endblock %}
{% block right %}

    {{ include('admin/diagnosis/_form.html.twig') }}

    <a href="{{ path('diagnosis_index') }}">back to list</a>
{% endblock %}
