{% extends 'admin/index.html.twig' %}

{% block title %}New Analysis{% endblock %}
{% block h1 %}<h1>Create new Analysis</h1>{% endblock %}
{% block right %}

    {{ include(template_path~'_form.html.twig') }}

    <a href="{{ path('analysis_index') }}">back to list</a>
{% endblock %}
